<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KiwiIDE.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <KiwiIDE.My.MySettings>
            <setting name="pythonprefix" serializeAs="String">
                <value>python3</value>
            </setting>
            <setting name="lastprojects" serializeAs="String">
                <value />
            </setting>
            <setting name="lastdir" serializeAs="String">
                <value />
            </setting>
        </KiwiIDE.My.MySettings>
    </userSettings>
</configuration>